.arrowUpLink{
    position: fixed;
    bottom: 75px;
    right: 95px;
    cursor: pointer;
  }

  @media(max-width:576px){
    .arrowUpLink{
    right: 10px;
    }
  }

  @media(min-width: 577px) and (max-width: 991px){
    .arrowUpLink{
    right: 50px;
    }
  }