@import "/src/App.scss";

.nav-item {
  .firstLanguageColor {
    .dropdown-item:active {
      background-color: $color-first-gradient;
    }
  }
  .secondLanguageColor {
    .dropdown-item:active {
      background-color: $color-black;
    }
  }
  .thirdLanguageColor {
    .dropdown-item:active {
      background-image: linear-gradient(to bottom, blue, violet);
    }
  }
  .fourLanguageColor {
    .dropdown-item:active {
      background-color: rgb(136, 30, 136);
    }
  }
}
